@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SPS Bakery - Az Branch!</h1>
    <p></p>
</div>
    <h4>Ordered Food Availability Check Application</h4>
    <p></p>
    <p>This is an application that can be used to check whether the ordered food item is available or not.</p>
 
    <h4>How to use this application?</h4>

    <p>
        1. Click on 'Form' in the header panel.
    </p>
    <p>2. Upon clicking, a form with different fields will open. Fill in the form.</p>
    <p>3. Click on 'Check Availability' button.</p>
    <h6>Upon the availability of ordered food item, a mail will be sent to Service Department.</h6>
    <h6>However, if the ordered food item is unavailable then a mail will be sent to Custom Care Department.</h6>
    
