@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All the customer related data entered is only used to identify the orders placed by each customer.</p>
<p>The mail id of the customer would be used to communicate with the customer in any emergency situations.</p>
<p>The mail id of the customer will be used to send any promotional content relevant to the bakery if and ony if the customer signs up for it.</p>
<h6>***All the data entered through form will be safe and will not be misused.***</h6>

